# GG P2 Project

* ist199271 Margarida Estrela (33%)
  
* ist199891 André Teixeira (33%)
  
* ist1100096 Tiago Costa (33%)

Prof. Flávio Ramos (Prof. João Marques and Prof. Carlos Felgueiras in the labs)

Lab Shift number: PB02

## PART I – Original Database Schema (SQLite)

##### E-R Diagram

![E-R Diagram](soccer.drawio.png "E-R Diagram")

#### 1. The Original Database Schema

Study the E-R Diagram above corresponding to the original database schema.

Lets download the SQLite database backup/dump!

In [1]:
!wget -c https://github.com/bdist/is-labs-data/raw/refs/heads/main/soccer/database.sqlite?download= -O /home/jovyan/data/database.sqlite

--2025-01-02 13:42:50--  https://github.com/bdist/is-labs-data/raw/refs/heads/main/soccer/database.sqlite?download=
140.82.121.3, ::ffff:140.82.121.3...
connected. to github.com (github.com)|140.82.121.3|:443...
HTTP request sent, awaiting response... 302 Found
Location: https://media.githubusercontent.com/media/bdist/is-labs-data/refs/heads/main/soccer/database.sqlite?download=true [following]
--2025-01-02 13:42:50--  https://media.githubusercontent.com/media/bdist/is-labs-data/refs/heads/main/soccer/database.sqlite?download=true
::ffff:185.199.110.133, ::ffff:185.199.109.133, ::ffff:185.199.111.133, ...
Connecting to media.githubusercontent.com (media.githubusercontent.com)|::ffff:185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 416 Range Not Satisfiable

    The file is already fully retrieved; nothing to do.

#### 2. SQL Queries

Consider the E-R Diagram above and write SQL queries for each of the following information needs.

In [65]:
%reload_ext sql
%config SqlMagic.displaycon = 0
%config SqlMagic.displaylimit = 100
%config SqlMagic.feedback = 0
%sql sqlite:////home/jovyan/data/database.sqlite --alias sqlite

1. What is the maximum number of goals recorded in a match? Output a single number.

In [115]:
%%sql sqlite
SELECT
    MAX(home_team_goal + away_team_goal) as max_goals
FROM
    match

+-----------+
| max_goals |
+-----------+
|     12    |
+-----------+


2. List each league name and its number of teams sorted from high to low.

In [4]:
%%sql sqlite
SELECT
    l.name,
    COUNT(DISTINCT t.team_api_id) AS num_teams
FROM
    match m
    JOIN
    league l ON m.league_id = l.id
    JOIN
    team t ON t.team_api_id IN (m.home_team_api_id, m.away_team_api_id)
GROUP BY
    l.name
ORDER BY
    num_teams DESC;

+--------------------------+-----------+
|           name           | num_teams |
+--------------------------+-----------+
|      France Ligue 1      |     35    |
|  England Premier League  |     34    |
|     Spain LIGA BBVA      |     33    |
|      Italy Serie A       |     32    |
|  Germany 1. Bundesliga   |     30    |
| Portugal Liga ZON Sagres |     29    |
|  Netherlands Eredivisie  |     25    |
|  Belgium Jupiler League  |     24    |
|    Poland Ekstraklasa    |     22    |
| Scotland Premier League  |     17    |
| Switzerland Super League |     15    |
+--------------------------+-----------+

3. Who are the GoalKeepers (GK) that have played all the away games for their team? Output the `team_long_name` and `player_name` (assuming `match.away_player_1` is the goalkeeper column).

In [5]:
%%sql sqlite
WITH matches_by_player AS (
    SELECT
        m.away_team_api_id,
        m.away_player_1,
        COUNT(*) AS player_match_count
    FROM
        match m
    GROUP BY
        m.away_team_api_id, m.away_player_1
),
total_matches AS (
    SELECT
        away_team_api_id,
        COUNT(*) AS total_match_count
    FROM
        match
    GROUP BY
        away_team_api_id
)
SELECT
    t.team_long_name,
    p.player_name
FROM
    matches_by_player mp
JOIN
    total_matches tm
    ON mp.away_team_api_id = tm.away_team_api_id
    AND mp.player_match_count = tm.total_match_count
JOIN
    team t
    ON t.team_api_id = mp.away_team_api_id
JOIN
    player p
    ON p.player_api_id = mp.away_player_1;

+-----------------------+--------------------+
|     team_long_name    |    player_name     |
+-----------------------+--------------------+
|   Fortuna Düsseldorf  |   Fabian Giefer    |
|    SV Darmstadt 98    | Christian Mathenia |
|   FC Energie Cottbus  |  Gerhard Tremmel   |
|    SC Paderborn 07    |    Lukas Kruse     |
|     RC Recreativo     |    Asier Riesgo    |
|        Watford        |   Heurelho Gomes   |
|       Dijon FCO       |  Baptiste Reynet   |
|      CD Tenerife      |  Sergio Aragones   |
| DSC Arminia Bielefeld |   Dennis Eilhoff   |
+-----------------------+--------------------+

## PART II - New Database Schema (PostgreSQL)

#### 0. Migrate the SQLite Database to PostgreSQL

Instead of writing tedious migration code ourselves, we will be using the `pgloader` CLI tool to get started quickly. The migration task is setup using a `command-file`. Lets see inside that file.

In [66]:
!cat ./command-file.txt

load database
    from '/home/jovyan/data/database.sqlite'
    into postgresql://db:db@postgres/db

with include drop, create tables, create indexes, reset sequences,

prefetch rows = 100, max parallel create index = 1

set work_mem to '16MB', maintenance_work_mem to '512 MB';

The `pgloader` tool will take care of everything automatically including the foreign key constraints (which SQLite does not enforce by default). Lets run it.

In [67]:
!pgloader ./command-file.txt

2025-01-04T13:03:39.006000Z LOG pgloader version "3.6.10~devel"
2025-01-04T13:03:39.080000Z LOG Migrating from #<SQLITE-CONNECTION sqlite:///home/jovyan/data/database.sqlite {1006A2E383}>
2025-01-04T13:03:39.080000Z LOG Migrating into #<PGSQL-CONNECTION pgsql://db@postgres:5432/db {1006A2E503}>
2025-01-04T13:03:45.077722Z LOG report summary reset
             table name     errors       rows      bytes      total time
-----------------------  ---------  ---------  ---------  --------------
                  fetch          0          0                     0.000s
        fetch meta data          0         50                     0.029s
         Create Schemas          0          0                     0.000s
       Create SQL Types          0          0                     0.003s
          Create tables          0         14                     0.017s
         Set Table OIDs          0          7                     0.003s
-----------------------  ---------  ---------  ---------  --------------
                 player          0      11060   688.0 kB          0.089s
      player_attributes          0     183929    28.2 MB          1.522s
                 league          0         11     0.3 kB          0.075s
                   team          0        296     9.5 kB          0.135s
                  match          0      25597   266.9 MB          3.867s
                country          0         11     0.1 kB          0.031s
        team_attributes          0       1451   210.4 kB          0.018s
-----------------------  ---------  ---------  ---------  --------------
COPY Threads Completion          0          4                     5.377s
         Create Indexes          0         14                     0.227s
 Index Build Completion          0         14                     0.192s
        Reset Sequences          0          7                     0.033s
           Primary Keys          0          7                     0.002s
    Create Foreign Keys          0         29                     0.247s
        Create Triggers          0          0                     0.000s
       Install Comments          0          0                     0.000s
-----------------------  ---------  ---------  ---------  --------------
      Total import time          ✓     222355   296.0 MB          6.078s

Lets take a closer look into the `match` table.

In [70]:
%load_ext sql
%config SqlMagic.displaycon = 0
%config SqlMagic.displaylimit = 100
%config SqlMagic.feedback = 0
%sql postgresql+psycopg://db:db@postgres/db --alias psql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [71]:
%sqlcmd columns -t match

+------------------+---------+----------+-----------------------------------+---------------+---------+
|       name       |   type  | nullable |              default              | autoincrement | comment |
+------------------+---------+----------+-----------------------------------+---------------+---------+
|        id        |  BIGINT |  False   | nextval('match_id_seq'::regclass) |      True     |   None  |
|    country_id    |  BIGINT |   True   |                None               |     False     |   None  |
|    league_id     |  BIGINT |   True   |                None               |     False     |   None  |
|      season      |   TEXT  |   True   |                None               |     False     |   None  |
|      stage       |  BIGINT |   True   |                None               |     False     |   None  |
|       date       |   TEXT  |   True   |                None               |     False     |   None  |
|   match_api_id   |  BIGINT |   True   |                None               |     False     |   None  |
| home_team_api_id |  BIGINT |   True   |                None               |     False     |   None  |
| away_team_api_id |  BIGINT |   True   |                None               |     False     |   None  |
|  home_team_goal  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_team_goal  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_x1  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_x2  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_x3  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_x4  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_x5  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_x6  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_x7  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_x8  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_x9  |  BIGINT |   True   |                None               |     False     |   None  |
| home_player_x10  |  BIGINT |   True   |                None               |     False     |   None  |
| home_player_x11  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_x1  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_x2  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_x3  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_x4  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_x5  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_x6  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_x7  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_x8  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_x9  |  BIGINT |   True   |                None               |     False     |   None  |
| away_player_x10  |  BIGINT |   True   |                None               |     False     |   None  |
| away_player_x11  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_y1  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_y2  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_y3  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_y4  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_y5  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_y6  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_y7  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_y8  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_y9  |  BIGINT |   True   |                None               |     False     |   None  |
| home_player_y10  |  BIGINT |   True   |                None               |     False     |   None  |
| home_player_y11  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_y1  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_y2  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_y3  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_y4  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_y5  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_y6  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_y7  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_y8  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_y9  |  BIGINT |   True   |                None               |     False     |   None  |
| away_player_y10  |  BIGINT |   True   |                None               |     False     |   None  |
| away_player_y11  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_1   |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_2   |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_3   |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_4   |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_5   |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_6   |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_7   |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_8   |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_9   |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_10  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_11  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_1   |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_2   |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_3   |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_4   |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_5   |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_6   |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_7   |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_8   |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_9   |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_10  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_11  |  BIGINT |   True   |                None               |     False     |   None  |
|       goal       |   TEXT  |   True   |                None               |     False     |   None  |
|      shoton      |   TEXT  |   True   |                None               |     False     |   None  |
|     shotoff      |   TEXT  |   True   |                None               |     False     |   None  |
|    foulcommit    |   TEXT  |   True   |                None               |     False     |   None  |
|       card       |   TEXT  |   True   |                None               |     False     |   None  |
|      cross       |   TEXT  |   True   |                None               |     False     |   None  |
|      corner      |   TEXT  |   True   |                None               |     False     |   None  |
|    possession    |   TEXT  |   True   |                None               |     False     |   None  |
|      b365h       | NUMERIC |   True   |                None               |     False     |   None  |
|      b365d       | NUMERIC |   True   |                None               |     False     |   None  |
|      b365a       | NUMERIC |   True   |                None               |     False     |   None  |
|       bwh        | NUMERIC |   True   |                None               |     False     |   None  |
|       bwd        | NUMERIC |   True   |                None               |     False     |   None  |
|       bwa        | NUMERIC |   True   |                None               |     False     |   None  |
|       iwh        | NUMERIC |   True   |                None               |     False     |   None  |
|       iwd        | NUMERIC |   True   |                None               |     False     |   None  |
|       iwa        | NUMERIC |   True   |                None               |     False     |   None  |
|       lbh        | NUMERIC |   True   |                None               |     False     |   None  |
|       lbd        | NUMERIC |   True   |                None               |     False     |   None  |
|       lba        | NUMERIC |   True   |                None               |     False     |   None  |
|       psh        | NUMERIC |   True   |                None               |     False     |   None  |
|       psd        | NUMERIC |   True   |                None               |     False     |   None  |
|       psa        | NUMERIC |   True   |                None               |     False     |   None  |
|       whh        | NUMERIC |   True   |                None               |     False     |   None  |
|       whd        | NUMERIC |   True   |                None               |     False     |   None  |
|       wha        | NUMERIC |   True   |                None               |     False     |   None  |
|       sjh        | NUMERIC |   True   |                None               |     False     |   None  |
|       sjd        | NUMERIC |   True   |                None               |     False     |   None  |
|       sja        | NUMERIC |   True   |                None               |     False     |   None  |
|       vch        | NUMERIC |   True   |                None               |     False     |   None  |
|       vcd        | NUMERIC |   True   |                None               |     False     |   None  |
|       vca        | NUMERIC |   True   |                None               |     False     |   None  |
|       gbh        | NUMERIC |   True   |                None               |     False     |   None  |
|       gbd        | NUMERIC |   True   |                None               |     False     |   None  |
|       gba        | NUMERIC |   True   |                None               |     False     |   None  |
|       bsh        | NUMERIC |   True   |                None               |     False     |   None  |
|       bsd        | NUMERIC |   True   |                None               |     False     |   None  |
|       bsa        | NUMERIC |   True   |                None               |     False     |   None  |
+------------------+---------+----------+-----------------------------------+---------------+---------+

Notice how `pgloader` even assigned the safest most-compatible data types for each column so that no data is lost in the migration.

##### 0.1. Introducing a limitation of the original database schema

The `match` table still does not look good to us... Can you try to write a SQL query for the following information need?

1. List all the teams that 'Cristiano Ronaldo' has played for (regardless of starting position)

In [23]:
%%sql psql

-- WILL NOT BE EVALUATED - We will be implementing a solution for this problem in the next section.
SELECT DISTINCT COUNT(DISTINCT team_api_id)
FROM Team t
JOIN match m on t.team_api_id = m.home_team_api_id OR t.team_api_id = m.away_team_api_id

+-------+
| count |
+-------+
|  296  |
+-------+

#### 1. Functions, Stored Procedures, and Triggers

Provide the SQL instructions corresponding to each of the following tasks:

1. Create a new `match_player` table to store the data for the starting players (11) for each match (currently stored in the columns `match.home_player_DD` and `match.away_player_DD`). We are going to copy the data contained in the table `match` to `match_player` but we want to use a new column for the player position `position`.

In [55]:
%%sql psql
DROP TABLE IF EXISTS match_player;

CREATE TABLE match_player (
    player_api_id INTEGER , 
    match_api_id INTEGER ,
    team_api_id INTEGER ,
    position VARCHAR(20) ,
    home_team boolean NOT NULL,
    PRIMARY KEY (player_api_id, match_api_id, position),
    FOREIGN KEY (team_api_id) REFERENCES team(team_api_id) ON DELETE CASCADE,
    FOREIGN KEY (player_api_id) REFERENCES player(player_api_id) ON DELETE CASCADE,
    FOREIGN KEY (match_api_id) REFERENCES match(match_api_id) ON DELETE CASCADE
);

++
||
++
++

2. Populate the new table `match_player` using the data contained in the table `match` using a function or stored procedure.

In [56]:
%%sql psql
    
CREATE OR REPLACE PROCEDURE populate_match_player()
LANGUAGE plpgsql
AS $$
BEGIN
    -- Insert for home team players
    INSERT INTO match_player (player_api_id, match_api_id, team_api_id, position, home_team)
    SELECT DISTINCT
        player_id,
        match_api_id,
        team_api_id,
        position,
        home_team
    FROM (
        SELECT 
            unnest(ARRAY[
                home_player_1, home_player_2, home_player_3, home_player_4, home_player_5, 
                home_player_6, home_player_7, home_player_8, home_player_9, home_player_10, 
                home_player_11
            ]) AS player_id,
            match_api_id,
            home_team_api_id AS team_api_id,
            unnest(ARRAY[
                'home_player_1', 'home_player_2', 'home_player_3', 'home_player_4', 'home_player_5', 
                'home_player_6', 'home_player_7', 'home_player_8', 'home_player_9', 'home_player_10', 
                'home_player_11'
            ]) AS position,
            TRUE AS home_team
        FROM match
    ) AS subquery
    WHERE player_id IS NOT NULL
      AND player_id::TEXT <> 'None';

    -- Insert for away team players
    INSERT INTO match_player (player_api_id, match_api_id, team_api_id, position, home_team)
    SELECT DISTINCT
        player_id,
        match_api_id,
        team_api_id,
        position,
        home_team
    FROM (
        SELECT 
            unnest(ARRAY[
                away_player_1, away_player_2, away_player_3, away_player_4, away_player_5, 
                away_player_6, away_player_7, away_player_8, away_player_9, away_player_10, 
                away_player_11
            ]) AS player_id,
            match_api_id,
            away_team_api_id AS team_api_id,
            unnest(ARRAY[
                'away_player_1', 'away_player_2', 'away_player_3', 'away_player_4', 'away_player_5', 
                'away_player_6', 'away_player_7', 'away_player_8', 'away_player_9', 'away_player_10', 
                'away_player_11'
            ]) AS position,
            FALSE AS home_team
        FROM match
    ) AS subquery
    WHERE player_id IS NOT NULL
      AND player_id::TEXT <> 'None';
END;
$$;

-- Call the procedure
CALL populate_match_player();

++
||
++
++

#### 2. SQL Queries

Consider the new `match_player` table above and write SQL queries for each of the following information needs.

1. List all the teams that 'Cristiano Ronaldo' has played for (regardless of starting position)

In [57]:
%%sql psql
SELECT DISTINCT t.team_short_name, t.team_long_name
FROM match_player m
JOIN team t ON t.team_api_id = m.team_api_id
JOIN player p ON p.player_api_id = m.player_api_id 
WHERE p.player_name = 'Cristiano Ronaldo'

+-----------------+-------------------+
| team_short_name |   team_long_name  |
+-----------------+-------------------+
|       MUN       | Manchester United |
|       REA       |   Real Madrid CF  |
+-----------------+-------------------+

2. Who are the players that have played all the away games for their team? Output the `team_long_name` and `player_name`.

In [74]:
%%sql psql
WITH PlayerAwayGames AS (
    SELECT 
        mp.player_api_id, 
        t.team_api_id, 
        COUNT(mp.match_api_id) AS player_away_games
    FROM match_player mp
    JOIN team t ON mp.team_api_id = t.team_api_id
    WHERE  mp.home_team = false
    GROUP BY 
        mp.player_api_id, 
        t.team_api_id
),
TeamAwayGames AS (
    SELECT 
        t.team_api_id, 
        COUNT(m.away_team_api_id) AS team_away_games
    FROM match m
    JOIN team t ON m.away_team_api_id = t.team_api_id
    GROUP BY 
        t.team_api_id
)
SELECT 
    p.player_name, 
    pag.team_api_id, 
    pag.player_away_games
    t.team_long_name
FROM PlayerAwayGames pag
JOIN TeamAwayGames tag ON pag.team_api_id = tag.team_api_id
JOIN player p ON pag.player_api_id = p.player_api_id
JOIN Team t on pag.team_api_id = t.team_api_id
WHERE pag.player_away_games = tag.team_away_games
ORDER BY 
    pag.team_api_id, 
    pag.player_api_id;

+---------------+--------------------+-------------+-------------------+
| player_api_id |    player_name     | team_api_id | player_away_games |
+---------------+--------------------+-------------+-------------------+
|     163665    |  Fernando Varela   |     4064    |         15        |
|     45413     |  Ervin Zukanovic   |     6351    |         15        |
|     303227    |     Diego Galo     |     6367    |         17        |
|     93358     |   Romain Thomas    |     8121    |         19        |
|     36086     |  Matthias Lehmann  |     8152    |         17        |
|     114963    |   Fabian Giefer    |     8194    |         17        |
|     27550     |    Marvin Matip    |     8234    |         17        |
|     154245    |   Luca Caldirola   |     8262    |         17        |
|     448805    | Christian Mathenia |     8262    |         17        |
|     37389     |  Sebastian Freis   |     8295    |         17        |
|     176889    |   Steven Caulker   |     8344    |         19        |
|     33339     |  Gerhard Tremmel   |     8398    |         17        |
|     37335     |    Lukas Kruse     |     8460    |         17        |
|     33958     |    Asier Riesgo    |     8479    |         19        |
|     32553     |    Darren Barr     |     8596    |         38        |
|     34193     |   Roger Johnson    |     8658    |         38        |
|     23629     |   Andrew Surman    |     8678    |         19        |
|     35515     |   Simon Francis    |     8678    |         19        |
|     24754     |    Jobi McAnuff    |     9798    |         19        |
|     30455     |   Heurelho Gomes   |     9817    |         19        |
|     279175    |  Baptiste Reynet   |     9836    |         19        |
|      2984     |  Sergio Aragones   |     9867    |         19        |
|     36058     |   Dennis Eilhoff   |     9912    |         17        |
+---------------+--------------------+-------------+-------------------+

3. What is the match with the highest number of goals? Output `team_long_name` for both home and away teams, and the total number of goals for each team.

In [9]:
%%sql psql
WITH game_goals AS (
    SELECT
        match_api_id,
        home_team_goal + away_team_goal AS total_goals
    FROM
        match
),
max_goals AS (
    SELECT
        MAX(total_goals) AS max_total_goals
    FROM
        game_goals
)
SELECT
    m.match_api_id,
    home_team.team_long_name AS home_team_name,
    m.home_team_goal AS home_team_goals,
    away_team.team_long_name AS away_team_name,
    m.away_team_goal AS away_team_goals,
    g.total_goals
FROM
    game_goals g
JOIN match m ON g.match_api_id = m.match_api_id
JOIN team home_team ON m.home_team_api_id = home_team.team_api_id
JOIN team away_team ON m.away_team_api_id = away_team.team_api_id
WHERE
    g.total_goals = (SELECT max_total_goals FROM max_goals);

+--------------+----------------+-----------------+----------------+-----------------+-------------+
| match_api_id | home_team_name | home_team_goals | away_team_name | away_team_goals | total_goals |
+--------------+----------------+-----------------+----------------+-----------------+-------------+
|    820504    |   Motherwell   |        6        |   Hibernian    |        6        |      12     |
|   2030233    | Real Madrid CF |        10       | Rayo Vallecano |        2        |      12     |
+--------------+----------------+-----------------+----------------+-----------------+-------------+

#### 3. Query Optimization

Consider the new `player_attributes` table that contains the largest amount of rows.

1. Create the most appropriate index(es) for the following query:

In [ ]:
%%sql psql
CREATE INDEX

In [ ]:
%%sql psql
SELECT
  MAX(overall_rating)
FROM
  player_attributes
WHERE
  attacking_work_rate = 'high';

2. Create the most appropriate index(es) for the following query:

In [ ]:
%%sql psql
CREATE INDEX

In [ ]:
%%sql psql
SELECT
  player_api_id,
  preferred_foot,
  MIN(crossing),
  MIN(potential)
FROM
  player_attributes
GROUP BY
  player_api_id,
  preferred_foot
HAVING
  MIN(crossing) = 80
  AND MIN(potential) >= 90

## PART III - The Web App (Flask + PostgreSQL)

#### 1. SQL View

1. Create a SQL View that lists the player names sorted by the most recent `player_attributes.date` first.

In [15]:
%%sql psql
DROP VIEW IF EXISTS players_index_view;

CREATE VIEW players_index_view AS
SELECT
    p.player_name
FROM
    player p
    JOIN player_attributes a ON p.player_api_id = a.player_api_id
ORDER BY
    a.date DESC;

++
||
++
++

2. Create the most appropriate index(es) for the SQL view you just created. (Note: PostgreSQL does not have support for materialized views)

In [16]:
%%sql psql
CREATE INDEX date_idx ON player_attributes (date DESC);
CREATE INDEX player_api_id_idx ON player_attributes (player_api_id);
CREATE INDEX player_api_id_p_idx ON player (player_api_id);

++
||
++
++

3. Please test your view using the following query.

In [17]:
%%sql psql
SELECT
  *
FROM
  players_index_view
LIMIT
  20;

+---------------------+
|     player_name     |
+---------------------+
| Adalberto Penaranda |
|    Baptiste Aloe    |
|         Bebe        |
|   Florian Lejeune   |
|     Jhon Murillo    |
|    Kevin Koubemba   |
|   Ronnie Schwartz   |
|       Wallace       |
|  Yanis Mbombo Lokwa |
|  Anderson Conceicao |
|    Angel Montoro    |
|    Baptiste Aloe    |
|     Diego Valeri    |
|     Do-Heon Kim     |
|   Dominic Solanke   |
|      Eoin Doyle     |
|     Ever Banega     |
|   Fredy Hinestroza  |
|   Gaetano Letizia   |
|    German Pezzela   |
+---------------------+

#### 2. Create the players_index page on the Web App

Requirements:
- Should use the SQL View declared above
- Do not list more than 20 players.

1. Copy your players_index function from app.py to the cell below

```python
@app.route("/", methods=("GET",))
@app.route("/accounts", methods=("GET",))
@limiter.limit("1 per second")
def account_index():
    """Show all the accounts, most recent first."""

    with pool.connection() as conn:
        with conn.cursor() as cur:
            accounts = cur.execute(
                """
                SELECT account_number, branch_name, balance
                FROM account
                ORDER BY account_number DESC;
                """,
                {},
            ).fetchall()
            log.debug(f"Found {cur.rowcount} rows.")

    return render_template("account/index.html", accounts=accounts)
```

2. Copy your final HTML template for this view onto the cell below

```html
{% extends "base.html" %}
{% block header %}
    <h1>
        {% block title %}
            Accounts
        {% endblock title %}
    </h1>
{% endblock header %}
{% block content %}
    {% for account in accounts %}
        <article class="post">
            <header>
                <div>
                    <h1>{{ account['account_number'] }}</h1>
                    <div class="about">in {{ account['branch_name'] }}</div>
                </div>
                <a class="action"
                   href="{{ url_for('account_update_view', account_number=account['account_number']) }}">Edit</a>
            </header>
            <p class="body">€ {{ account['balance'] }}</p>
        </article>
        {% if not loop.last %}<hr />{% endif %}
    {% endfor %}
{% endblock content %}
```

#### 3. Create the player_update_view and player_update_save routes on the Web App

Requirements:

- The app.route for player_update_view should take a player_api_id and show a nice editable HTML form.
             
- The app.route for player_update_save should be called on form submission and insert the new data into player_attributes. 

- On success, should redirect to the players_index

- On failure, should raise an appropriate exception with a error message

1. Copy your player_update_view function from app.py to the cell below

2. Copy your final HTML template for this view onto the cell below

3. Copy your player_update_save function from app.py to the cell below